# True for development, False for production
DEBUG=False

# Deployment SERVER address
SERVER=https://render.com/

DATABASE_URL=postgres://your_database_url
DEFAULT_FILE_STORAGE=your_cloud_storage
DJANGO_SECRET_KEY=<DJANGO_STRONG_PASS>
DROPBOX_APP_KEY=your_api_key
DROPBOX_APP_SECRET=your_secret_number
DROPBOX_OAUTH2_REFRESH_TOKEN=your_refresh_token
DROPBOX_OAUTH2_TOKEN=your_oauth2_token
PYTHON_VERSION=3.11.1
STATICFILES_STORAGE=your_whitenoise_storage
WEB_CONCURRENCY=4
